#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=on --ipv6=auto --no-activate
network  --hostname=cit470g4P2clients.hh.nku.edu

# Root password
rootpw --iscrypted $6$v4Cw68QL65NPzaDm$rlV/5nmrQuIDXbmEdC4XKnD.OjFfTSrRXeXGJig3hZGFWSdV3aXQCCjmPAHMdfO4IteF.ULvLg/.Ju.ua6b.o0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Disk Partition Information
part swap --fstype="swap" --ondisk=sda --size=488
part /var --fstype="xfs" --ondisk=sda --size=1907
part / --fstype="xfs" --ondisk=sda --size=7152

# Reboot after install
reboot

%packages
@^minimal
@core
chrony
kexec-tools
openldap-clients
nss-pam-ldapd
mod_ssl
wget
nano
net-tools

%end

%post --logfile=/root/g4Serverlog.log
yum -y update
yum install net-tools -y

init 3

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
