#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=cit470g4client.hh.nku.edu
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $6$H9QXgNm9GWU0FlR0$qacNNsqdSE2jMIz9Muh.ryyThRJya4.eX.Y6g3hTv2C2PQrk6eUJ55uRdw4gYfY/NrT0wKIVrx58bYaSYb0x80
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.53 --fstype="lvmpv" --ondisk=sda --size=2568
part / --fstype="xfs" --ondisk=sda --size=7680
volgroup centos --pesize=4096 pv.53
logvol /var  --fstype="xfs" --size=2048 --name=var --vgname=centos
logvol swap  --fstype="swap" --size=512 --name=swap --vgname=centos

%post --logfile=/root/clientinstall.log

#Now here are the post install commands
yum -y update
yum -y install net-tools
yum install openldap-clients
yum install nfs-utils
yum install lsof

init 3

#Client configuration for LDAP

authconfig --useshadow --enableldap --enablecache --passalgo=sha512 --enableldapauth --ldapserver="ldaps://10.2.7.86/8" --ldapbasedn=dc=cit470,dc=nku,dc=edu

#Client configuration for NFS


umount /home
mount -t nfs 10.2.7.86/8:/home /home
umount /home
echo "10.2.7.86:/home		/home		nfs	defaults	0 0" >> /etc/fstab
mount /home
useradd -c "Test User" -s /bin/bash -d /home/test -m test
%end

%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools
mod_ssl
nano
net-tools
nfs-utils
openldap-clients
wget

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
